<div [style.width]="obj.w + 'px'" [style.height]="obj.h +'px'" class="flowchart-object flowchart-output"
     data-jtk-target="true" data-jtk-target-port-type="target">
    <div>
        <svg [attr.width]="obj.w" [attr.height]="obj.h">
            <rect [attr.x]="0" [attr.y]="0" [attr.width]="obj.w" [attr.height]="obj.h" [attr.rx]="5" [attr.ry]="5"/>
            <text text-anchor="middle" [attr.x]="obj.w/2" [attr.y]="obj.h/2" dominant-baseline="central">{{obj.text}}</text>
        </svg>
    </div>
    <div class="node-edit node-action" (click)="editNode()"></div>
    <div class="node-delete node-action delete" (click)="removeNode()"></div>
</div>
