<div [style.width]="obj.w + 'px'" [style.height]="obj.h +'px'" class="flowchart-object flowchart-question">
    <div>
        <svg [attr.width]="obj.w" [attr.height]="obj.h">
            <path [attr.d]="'M ' + obj.w/2 + ' 10 L ' + (obj.w-10) + ' ' + obj.h/2 + ' L ' + obj.w/2 + ' ' + (obj.h-10) + ' L 10 ' + obj.h/2 + ' Z'" class="inner"/>
            <text text-anchor="middle" [attr.x]="obj.w/2" [attr.y]="obj.h/2" dominant-baseline="central">{{obj.text}}</text>
        </svg>
    </div>
    <div class="node-edit node-action" (click)="editNode()"></div>
    <div class="node-delete node-action delete" (click)="removeNode()"></div>
    <div class="drag-start connect"></div>
    <jtk-source port-type="source" filter=".connect"></jtk-source>
    <jtk-target port-type="target"></jtk-target>
</div>
